@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white-color);
    font-family: var(--font-oxyzen);
}

:root {
    --white-color: #FFFFFF;
    --lightgray-color: #F9F6F7;
    --lightOrange-color: #FFE8D6;
    /*Declering variable for color */
    --Orange-color: #FF971D;
    --black-color: #20262E;
    --font-oxyzen: 'Oxygen', sans-serif;
    --font-josefin: 'Josefin Sans', sans-serif;
    --font-kaushan: 'Kaushan Script', cursive;
    --font-caveat: 'Caveat', cursive;
    --font-raleway: 'Raleway', sans-serif;
}

/* Selection Text Css */
::selection {
    background: var(--lightOrange-color);
    color: var(--black-color);
}

/* ---------------- */
header {
    /* border: 1px solid blue; */
    width: 348px;
    height: 673px;
    float: left;
    position: sticky;
    border-right: 1px solid var(--Orange-color);
}

header .logo {
    width: 100%;
    height: 100px;
    background: var(--lightOrange-color);
    /* border-right: 1px solid var(--Orange-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 200px;
}

header .menu {
    background: var(--lightgray-color);
    width: 100%;
    height: 573px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    letter-spacing: 2px;
    font-family: var(--font-josefin);
}
header .menu ul{
    /* border: 1px solid; */
    list-style: none;
}
header .menu ul li,
header .menu a{
    padding: 15px 30px;
    color: var(--black-color);
    text-decoration: none;
}
header .menu ul li:hover,
header .menu a:hover{
    background: var(--Orange-color);
}





main {
    width: 1180px;
    height: 673px;
    float: right;
    position: sticky;
    /* border: 1px solid orangered; */
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main-top{
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    position: relative;
}
.main-top .wellcome{
    position: absolute;
    left: 150px;
    top: 15px;
    letter-spacing: 2px;  
    font-family: var(--font-josefin);
    color: var(--black-color);
}
.main-top .demo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.main-top .demo .cust{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    /* border: 1px solid red; */
    padding: 0 20px;
    box-sizing: border-box;
}
.main-top .demo .cust img{
    width: 100px;
    height: 100px;
    border: 2px solid var(--Orange-color);
    border-radius: 50%;
}
.main-top .demo .cust h1{
    font-family: var(--font-kaushan);
    text-decoration: underline 2px var(--Orange-color);
}
.main-top .demo .balance{
    background: var(--Orange-color);
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    color: var(--white-color);
    letter-spacing: 1px;
}
.main-top .demo .balance i{
    color: var(--black-color);
}








/* ======================================================== */
/* footer section */
footer {
    background: var(--black-color);
    width: 100%;
    height: 50px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: sticky;
}