@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: var(--white-color); */
    background: #ffe259;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Oxygen', sans-serif;
}

/*Declering variable for color */
:root {
    --white-color: #FFFFFF;
    --lightgray-color: #F9F6F7;
    --lightOrange-color: #FFE8D6;
    --Orange-color: #FF971D;
    --black-color: #20262E;
}

/* Selection Text Css */
::selection {
    background: var(--lightOrange-color);
    color: var(--black-color);
}

/* -------------------------------------------------------- */
.container {
    width: 100%;
    height: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 0 50px 0;
    box-sizing: border-box;
}

.login-wrapper {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgb(0 0 0 / 30%);
    overflow: hidden;
    position: relative;
}

.login-wrapper span:nth-child(1) {
    position: absolute;
    font-size: 25px;
    right: 5px;
    top: 2px;
}

.login-wrapper span:nth-child(1) a {
    outline-color: var(--Orange-color);
    border-radius: 50%;
    padding: 0 2.2px;
    color: gray;
    transition: .5s;
}

.login-wrapper span:nth-child(1) a:hover {
    color: rgb(99, 99, 99);
}

.login-wrapper .logo {
    width: 100%;
    height: 100px;
    background: var(--lightOrange-color);
    border-radius: 10px 10px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper .logo::after,
.login-wrapper .logo::before {
    content: "";
    background: var(--lightOrange-color);
    padding: 30px;
    position: absolute;
    right: 0;
    top: 100px;
}

.login-wrapper .logo::after {
    border-radius: 0 30px 0 0;
    background: var(--white-color);
}

.login-wrapper .logo img {
    width: 200px;
}

.login-wrapper .login-form {
    padding: 50px 20px;
    box-sizing: border-box;
    font-size: smaller;
}

.login-wrapper .login-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-wrapper .login-form h1 {
    /* border: 1px solid #eee; */
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1.9px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--lightOrange-color);
}

.form-container {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 20px;
    width: 90%;
}

.form-container .fill {
    grid-column: 1/3;
}

.form-container .from-items {
    position: relative;
}

.user-img {
    display: block;
    margin: auto;
    border: 2px solid var(--Orange-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    aspect-ratio: auto;
}

.form-container .from-items span[for="dp"] {
    position: absolute;
    /* border: 1px solid ; */
    right: 20px;
    bottom: 7px;
    font-size: small;
    letter-spacing: 1px;
}

.form-container .from-items input,
.form-container .from-items select {
    outline-color: var(--Orange-color);
    border: none;
    background: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--Orange-color);
    border-top: 1px solid var(--Orange-color);
    background: none;
    font-family: 'Oxygen', sans-serif;
    color: rgb(79, 79, 79);
    padding: 5px 20px;
    top: 35%;
    font-size: smaller;
    letter-spacing: 1.5px;
    border-radius: 20px;
    margin-top: 5px;
    cursor: text;
}

.form-container .from-items input[type="radio"],
.form-container .from-items input[type="checkbox"] {
    width: 12px;
    height: auto;
    margin-left: 20px;
    accent-color: var(--Orange-color);
    cursor: pointer;
}

.form-container .from-items label {
    color: var(--black-color);
    color: var(--black-color);
    letter-spacing: 1.5px;
    pointer-events: none;
    margin-left: 15px;
}

.form-container .from-items textarea {
    font-size: 16px;
    color: rgb(79, 79, 79);
    width: 100%;
    border: none;
    outline-color: var(--Orange-color);
    background: none;
    border-top: 1px solid var(--Orange-color);
    border-bottom: 1px solid var(--Orange-color);
    border-radius: 20px;
    resize: none;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: smaller;
    font-family: 'Oxygen', sans-serif;
}

.form-container .from-items select {
    display: block;
    padding: 0 20px;
    appearance: none;
    cursor: pointer;
}

.form-container .from-items .custom-arrow {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    color: var(--Orange-color);
    pointer-events: none;
}

.form-container .from-items .radio-btn {
    font-size: smaller;
}


.form-container .fill span {
    font-size: smaller;
    color: rgb(79, 79, 79);
}

.form-container .fill span a {
    color: rgb(79, 79, 79);
    cursor: pointer;
    outline-color: var(--Orange-color);
}

.form-container .fill span a:hover {
    color: var(--Orange-color);
}

.login-form form input[type="submit"] {
    margin-top: 10px;
    outline-color: var(--black-color);
    border: none;
    background: none;
    padding: 5px 20px;
    background: var(--Orange-color);
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 1px;
    border-radius: 10px;
    transition: .1s ease-out;
    /* text-transform: uppercase; */
}

.login-form form input[type="submit"]:hover {
    opacity: 0.85;
    cursor: pointer;
    transform: scale(1.025);
}

sup {
    color: red;
}

#notValidMsg {
    margin-top: 10px;
    width: 80%;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    border-radius: 2px;
    float: left;
    padding: 5px 10px;
    box-sizing: border-box;
    display: none;
}